
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f9fa;
}

.register-container {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 700px;
    background-color: #fff;
}

.register-form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.register-form-title {
    color: #f9a825;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    padding-bottom: 10px;
}

.register-form-subtitle {
    margin-top: 5px;
    font-size: 16px;
    display: flex;
   
}

.register-form-group {
    display: flex;
    margin-top: 15px;
    gap: 10px;
    width: 95%;
}

.register-form-group input {
    flex: 1;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.register-form-group-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 10px;    

}

.register-form-group-full {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.register-form-group-full input {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 94%;
}

.register-instructions {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
    display: flex;
}

.register-button {
    background-color: #3f51b5;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    margin-top: 50px;
    align-self: flex-end;
}

.register-link {
    margin-top: 60px;
    font-size: 14px;
    color: #3f51b5;
    cursor: pointer;
    text-decoration: underline;
}

.register-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.register-image-container img {
    
    margin-bottom: 25px;
    width: 250px; 
    height: 250px; 
}

.register-image-text {
    font-size: 14px;
    color: #555;
    text-align: center;
}
.register-footer-cnt {
    margin-top: 20px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 90%;
    padding-left: 5px;
}


.register-footer-links a {
    margin: 2px;
    color: #666;
    text-decoration:underline;
  
}

.register-language-selector-cnt select {
   margin: 0px;
    
}
