
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f9fa;
}

.login-container {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    background-color: #fff;
}

.login-form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.login-form-title {
    color: #f9a825;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-subtitle {
    margin-top:10px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form-sub-title {
    margin-top: 8px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-form-group {
    display: flex;
    margin-top: 15px;
    gap: 10px;
    width: 95%;
}

.login-form-group input {
    flex: 1;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-form-group-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 10px;    

}

.login-form-group-full {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.login-form-group-full input {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
}

.login-instructions {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
}

.login-button {
    background-color: #3f51b5;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    margin-top: 50px;
    align-self: flex-end;
}

.login-pass-link {
    font-size: 14px;
    color: #3f51b5;
    cursor: pointer;
    margin-top: 8px;
    display: flex;
}
.login-create-link {
    margin-top: 60px;
    font-size: 14px;
    color: #3f51b5;
    cursor: pointer;
}